@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "color_variable.scss";
// font styles
$poppins: "Poppins", sans-serif;
$lato: "Lato", sans-serif;

// font sizes
$font-eighteen: 18px;
$font-fourteen: 14px;
$font-twelve: 12px;
$font-sixteen: 16px;
$font-twentythree: 23px;
body {
  font-family: $poppins;
  background: $color-1;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
li {
  list-style: none;
  list-style-type: none;
}

.navbar {
  padding: 15px 0px;
  background: $color-1;
  border: none;
  border-radius: 0;
}

.first-row {
  background-color: $color-1;
}
.second-row {
  background-color: $color-2;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: relative;
  border: 1px solid $color-4;
  border-radius: 5px;
  #sidebar {
    // width: 300px;
    margin-left: 0rem;
    background: $color-1;
    transition: margin 0.3s;
    border: 1px solid #dddddd;
    border-radius: 5px 0px 0px 5px;
    opacity: 1;
    .sidebar-menu {
      display: flex;
      padding: 0;
      flex-direction: column;
      color: $color-6;
      font-size: 14px;

      border-radius: 5px 0px 0px 5px;
      opacity: 1;
      li {
        padding: 15px;
      }
      span img {
        margin: 0 10px 0 7px;
      }
      .line {
        width: 82%;
        height: 1px;
        border-bottom: 1px solid $color-4;
        margin: 20px auto;
      }
    }
    button.logout {
      border: none;
      color: $color-6;
      font-size: 14px;
      font-family: $lato;
      width: 100px;
      background-color: #ededed;
      margin: 11px 70px 24px 70px;
      padding: 10px 15px;
    }
  }
}

#sidebar.toggled {
  max-width: 0px;
  overflow-x: hidden;
  z-index: 1;
}

li.have-children {
  position: relative;
  ul li a img {
    margin: 0 10px 0 0;
  }
  span::after {
    position: absolute;
    right: 30px;
    top: 15px;
    content: url(images/dropdown-arrow.png);
    transition: all 0.5s;
  }
}

li.active.have-children span::after {
  transform: rotate(90deg);
}

.sidebar-menu .have-children > ul {
  display: none;
  padding: 0 0px 0 23px;
}

span.icon-active:active,
span.icon-active:focus {
  border-left: 2px solid $color-9;
  padding: 0 0 0 16px;
  margin: 0 0px 0 -17px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
.btn-info.focus,
.btn-info:focus {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}
.btn-info:hover {
  /* color: #fff; */
  background-color: transparent;
  border-color: transparent;
}
.btn.focus,
.btn:focus {
  outline: 0;
  border: none !important;
  box-shadow: none;
}
.btn:hover {
  color: $color-24;
  text-decoration: none;
}

.btn-info {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}
.top-left {
  span.logo {
    padding: 1rem;
  }
  span.heading {
    padding: 2rem 0;
    font-size: $font-sixteen;
    font-weight: 500;
  }
  .form-group.has-search {
    padding: 25px 34px 0;
    border-radius: 19px;
    display: flex;

    .form-control {
      padding: 0 3.375rem;
      border-radius: 50px;
      background-color: $color-12;
      color: $color-6;
      font-size: $font-fourteen;
    }
    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      border-right: 1px solid $color-12;
      padding: 0rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
    }
    span.close-button {
      margin: 5px -25px;
    }
  }
}
.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.top-right.float-right {
  padding: 24px;
  span.user {
    padding: 1px;
    color: $color-6;
    font-size: $font-fourteen;
    .user-name {
      margin-left: 10px;
    }
  }
  span.scan {
    margin-left: 10px;
  }
}

/*---------------------------main-content--------------------- */
.order-heading {
  font-size: $font-eighteen;
}
.print {
  display: flex;
  justify-content: flex-end;
  font-size: $font-fourteen;
  font-weight: normal;
  .print-icon {
    margin: 0 10px 0 0;
  }
  h6 {
    font-size: $font-fourteen;
    color: $color-6;
  }
}

.row.main-top-row {
  margin-left: -20px;
  span.listview {
    padding-left: 22px;
    font-size: 12px;

    .list-title {
      color: $color-7;
      margin-left: 4px;
    }
    .load-title {
      margin-left: 4px;
    }
  }
}

.row.main-middle-row {
  background-color: $color-1;
  border: 1px solid $color-4;
  border-radius: 5px;
  opacity: 1;
  padding: 20px 10px 10px;
  margin: 1rem 0;
  span.filter {
    font-size: $font-fourteen;
  }
}
// span.filter {
//   font-size: $font-14;
// }
span.week,
span.archived,
span.test-order {
  @extend .filter;
  text-align: center;
  width: 83px;
  background: $color-8 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  margin-left: 16px;
}
span.archived {
  width: 103px;
}
span.test-order {
  width: 120px;
}
.row.filter-row {
  margin: 0;
  width: 68%;
  padding: 1rem 1rem;
}
.this-week {
  border: 1px solid $color-19;
  display: flex;
  padding: 0.2rem;
  min-width: 262px;
  justify-content: space-between;
}
.wrap {
  padding: 0;
  // margin: 3em auto;
}

.custom-select {
  border: 1px solid $color-19;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  padding: 7px;
  width: 86%;
  color: $color-5;
}

.custom-select:focus {
  border-color: $color-19;
  outline: 0;
  box-shadow: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-select {
    background: $color-1 url(images/down-arrow.png) 95% 50% no-repeat;
  }
}
.filter,
.archieve,
.test {
  font-size: $font-fourteen;
  padding: 0;
}
// .test {
//   margin-left: 75px;
// }
input.chckbox {
  position: relative;
  width: 83px;
  height: 28px;
  background: $color-27;
  background: $color-28;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: $color-7;
}

input.chckbox::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 15px;
  width: 24px;
  top: 3px;
  /* right: 40px; */
  margin: 0 -6px;
  height: 22px;
  background: $color-1;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  transition: 0.4s;
}

input:checked[type="checkbox"]::before {
  left: 55px;
}
.toggle {
  position: relative;
  display: inline;
}
.toggleBox {
  padding: 0;
}
.toggleBox2 {
  padding: 0;
}

label {
  position: absolute;
  color: $color-1;
  font-weight: 600;
  font-size: $font-twelve;
  pointer-events: none;
}

.onbtn {
  bottom: 3px;
  left: 11px;
}

.ofbtn {
  bottom: 3px;
  right: 10px;
}
.row.seach-filter-row {
  margin: 7px;
  width: 100%;
  font-size: $font-fourteen;
  border-bottom: 1px solid $color-4;
  padding: 1rem 1rem 0rem;
}

.row.main-row {
  width: 100%;
  padding-left: 1rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $color-5;
  border-bottom: 2px solid $color-5;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $color-5;
  background-color: $color-1;
}
.nav-pills .nav-link {
  border-radius: 0rem;
  color: $color-6;
}
.nav-border-bottom {
  border-bottom: 1px solid lightgray;
}
.nav-item a img {
  margin: 0 5px 0 0;
}

.form-group.has-search-tab {
  padding: 20px 0 0 0;
  border-radius: 19px;
  display: flex;
}

.has-search-tab .form-control {
  background-color: $color-1;
  color: $color-6;
  font-size: 14px;
  width: 100%;
}
.div-heading {
  padding: 0 0 10px;
}

.switch-position {
  margin: 8px -113px;
}
.check-switch {
  position: relative;
  width: 100px;
  height: 20px;
  background: $color-25;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;

  cursor: pointer;
}

.check-switch:checked[type="checkbox"] {
  background: $color-26;
}

.check-switch::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 7px;
  width: 15px;
  top: 2px;
  height: 15px;
  background: $color-1;
  border-radius: 50%;
  transform: scale(1.1);
  transition: 0.4s;
}

.check-switch:checked[type="checkbox"]::before {
  left: 78px;
}

.toggle-state {
  position: relative;
  display: inline;
}

.toggle-btn {
  position: absolute;
  color: $color-1;
  font-weight: 600;
  font-size: 12px;
  pointer-events: none;
  bottom: 0px;
  left: 11px;
}
.col-md-8.any-word-col {
  padding-right: 0;
}
.clear {
  border: 1px solid $color-7;
  border-radius: 2px;
  font: 14px;
  color: $color-7;
  background-color: $color-1;
  min-width: 38px;
  padding: 5px 15px;
  margin: 20px 0 0 0;
}
.search-button {
  background: $color-7 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border: none;
  color: $color-1;
  font: 14px;
  padding: 6px 15px;
}
.options {
  padding: 1rem;
  span.add {
    .add-title {
      color: $color-7;
      font-size: $font-fourteen;
      font-weight: 500;
    }
  }
  span.action {
    margin-left: 50px;
    .action-title {
      color: $color-6;
      font-weight: 400;
      font-size: $font-fourteen;
    }
  }
  span.down-arrow {
    margin-left: 10px;
  }
}

span.reference {
  margin-left: 30px;
  font-size: $font-fourteen;
  color: $color-6;

  font-weight: 400;
}

span.solid-arrow {
  padding-left: 22px;
  img.down {
    margin: 10px 0 0 -8px;
  }
}

span.ship {
  font-size: $font-fourteen;
  font-weight: 400;
}
span.vg {
  background-color: $color-20;
  border-radius: 71px;
  // margin: -2rem 17px;
  padding: 16px 12px;
  .vg-title {
    margin-top: 34px;
    font-size: $font-twentythree;
    color: $color-1;
  }
}

.row-heading {
  background-color: $color-14;
}
.vg-row {
  background-color: $color-25;
  // opacity: 0.4;
  line-height: 25px;
  min-height: 125px;
  height: 125px;
  td.vg-data {
    line-height: 58px;
  }
}

.order-status-table td {
  border-top: none;
}
.description {
  display: flex;
  flex-direction: column;
}
.pending {
  width: 100px;
  background-color: $color-16;
  border: 1px solid $color-17;
  border-radius: 13px;
  color: $color-18;
  padding: 0px 15px 0 16px;
  margin: 6px 20px 0 0;
  font-size: $font-twelve;
}
.vg-id {
  font-size: $font-sixteen;
  font-weight: 600;
  color: $color-5;
}
.vg-test-order {
  font-size: $font-twelve;
  color: $color-6;
  font-style: italic;
  margin: 10px 0 0 0;
}

span.vignesh,
span.prepaid,
span.balance,
span.unit {
  font-size: $font-fourteen;
}
td.vg-data {
  padding: 0.75rem 0;
}
td.description {
  padding: 0.75rem 0;
  margin-left: -77px;
}
span.descr-1 {
  font-size: $font-fourteen;
  font-weight: 600;
}
td.outbound-row {
  vertical-align: middle;
}

span.descr-2,
span.descr-3,
span.descr-4 {
  font-size: $font-fourteen;
  color: $color-6;
  padding-left: 20px;
}
span.data-descr {
  margin-left: -18px;
}
span.account-admin {
  font-size: $font-twelve;
  font-weight: 300;
  color: $color-6;
  /* margin: 19px 0; */
}
tr.status-row {
  font-size: $font-fourteen;
}
.table-responsive {
  border-bottom: 1px solid $color-4;
}
td.micah {
  color: $color-7;
}
.row.my-4.bg-white {
  margin: 1rem 0;
  padding-bottom: 2rem;
  border: 1px solid $color-4;
  border-radius: 5px;
  opacity: 1;
}
.status-row td {
  /* vertical-align: middle; */
  /* margin: 37rem; */
  padding-top: 40px;
}
span.result,
span.items {
  font-size: $font-fourteen;
  color: $color-6;
}
span.square1,
span.square2 {
  height: 16px;
  width: 42px;
  margin-left: 12px;
  font-size: $font-twelve;
  color: $color-7;
  padding: 2px 6px;
  border: 1px solid $color-22;
}
span.square2 {
  background: $color-23 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  color: $color-6;
}
.page-results.d-flex.justify-content-between {
  padding: 1rem;
}
// .row .vg-inner-row {
//   padding-left: 15px;
// }
// -----------------------responsive design---------------------------------
@media screen and (max-width: 767px) {
  .row.main-middle-row {
    flex-direction: column;
  }
  .left-sec.d-flex {
    flex-direction: column;
  }
  span.week,
  span.archived,
  span.test-order {
    margin-left: 0;
  }

  nav#sidebar {
    z-index: 100;
    // left: 4%;
    position: absolute;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
  span.heading {
    display: none;
  }
  .top-left .form-group.has-search {
    padding: 9px 0px 0px;
    margin: 0px -15px 0 0;
  }
  .top-right.float-right {
    padding: 11px;
    margin-right: 42px;
    /* display: none; */
  }
  .navbar {
    padding: 0;
  }
  .top-left span.logo {
    padding: 0;
  }
  .left-sec.d-flex span {
    margin: 8px 0 0 0;
  }
  span.descr-2,
  span.descr-3,
  span.descr-4 {
    margin: 0 122px 0 0;
  }
  td.outbound-row {
    padding: 0px 0 0 17px;
  }
  span.reference {
    margin-left: 0px;
  }
  th.table-header.middle-header {
    padding: 0.75rem 0;
  }
  th.table-header.shipment-header {
    padding: 0.75rem 0 0 1.75rem;
  }
  // .shipment-header img .down {
  //   margin: -31px 0 -89px 6px;
  // }
  .shipment-header img.up {
    margin-top: -51px;
  }
  td.description {
    margin-left: -42px;
  }
  .shipment-header span.solid-arrow img.down {
    margin: -40px 0 0 -8px;
  }
  .shipment-header span.solid-arrow {
    padding-left: 29px;
  }
  .form-group.searching {
    width: auto;
  }
  .form-control {
    width: auto;
  }
  .toggleBox3 {
    padding-left: 0px;
    margin: -32px 0 0 134px;
  }
  // .wrapper {
  //   position: relative;
  // }
}
@media screen and (max-width: 479px) {
  .top-left .form-group.has-search {
    // padding: 9px 0px 0px;
    margin: 6px -15px 0 0;
  }
  .top-left {
    display: block !important;
  }
  .filter-row {
    flex-direction: column;
  }

  .form-group.searching {
    width: auto;
  }
  .toggleBox3 {
    padding-left: 0px;
    margin: -32px 0 0 126px;
  }
  .form-control {
    width: auto;
  }
  .row.select-row {
    display: block !important;
  }
  // .wrap {
  //   width: 53%;
  //   margin: -102px 0 0 167px;
  // }
  .custom-select {
    font-size: 12px;
    height: 24px;
    padding: 2px;
  }
  .toggleBox,
  .toggleBox2 {
    padding: 7px 0 0 169px;
  }
  input.chckbox {
    width: 77px;
    height: 24px;
  }
  input.chckbox::before {
    left: 17px;
    width: 20px;
    top: 3px;
    height: 17px;
  }
  .ofbtn,
  .onbtn {
    bottom: 1px;
  }
  .navbar {
    // padding: 0;
    float: right;
  }
  .top-left .form-group.has-search .form-control {
    width: 94%;
  }
  .top-right.float-right {
    margin-right: 0px;
    /* display: none; */
  }
  .print {
    margin-top: -37px;
  }
  .options span.down-arrow {
    margin: -23px 0 0 128px;
    /* float: right; */
  }
  .options {
    flex-direction: column;
  }
  .options span.action {
    margin-left: 0px;
  }
  .page-results {
    flex-direction: column;
  }
}
@media screen and (width: 280px) {
  .col-md-8.any-word-col,
  .col-sm-8.any-word-col {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 1024px) {
  nav#sidebar {
    position: absolute;
    z-index: 100;
    height: 100%;
    max-height: 100%;
    overflow: scroll;
  }
  span.descr-2,
  span.descr-3,
  span.descr-4 {
    margin: 0 150px 0 0;
  }
  td.outbound-row {
    padding: 0px 0 0 17px;
  }
  span.reference {
    margin-left: 0px;
  }
  th.table-header.middle-header {
    padding: 0.75rem 0;
  }
  th.table-header.shipment-header {
    padding: 0.75rem 0 0 1.75rem;
  }
  .shipment-header img.up {
    margin-top: -51px;
  }
  td.description {
    margin-left: -40px;
  }
  .shipment-header span.solid-arrow img.down {
    margin: -40px 0 0 -8px;
  }
  .shipment-header span.solid-arrow {
    padding-left: 29px;
  }
  .top-left span.heading {
    padding: 20px 8px 0;
    font-size: 11px;
    font-weight: 500;
  }
  .shipment-header span.solid-arrow {
    margin: 0 0 0 104px;
  }
  // span.archieve {
  //   margin-left: 152px;
  // }
  // button.clear {
  //   margin-left: 142px;
  // }
}

@media screen and (width: 1024px) {
  span.descr-2,
  span.descr-3,
  span.descr-4 {
    margin: 0;
  }
}
